{% extends "base.html" %}

{% block content %}
<div class="container">
       <form action="/login" method="POST">

        <div>
        <label for="email">Email</label>
        <input type="email" class="email" name="email" id="email" required>
        </div>

        <div>
        <label for="password">Password</label>
        <input type="password" class="password" name="password" id='password' required>
        </div>

        <button type="submit">Log In</button>
    </form>
</div>
{% endblock %}